
  .titlee h2{
    font-weight: 700;
    color: #6A156A;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-top:100px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .guidelines{
    padding: 0 60px ;
  }
  
  .guidelines p{
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height:normal;
    background: linear-gradient(90deg, rgba(208, 41.21, 208, 0.2) 0%, white 100%);
    padding: 20px 10px;
    border-radius: 10px;
   
  }
  
  .team-name h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black ;
    font-size: 20px;
    text-align: center;
  }

  .last-guideline {
    color: #e53e3e; 
    font-weight: bold;
  }

  .submission-section{
    padding: 10px 60px ;
    text-align: center;
    width: 100%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 20px;
    
  }

  .submission-section button{
    background-color:rgba(106, 21, 106, 0.80);
    color: #fff;
    border: none;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .file-list{
    text-align: left;
  }
  .submitted-files h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  submission-section button:hover {
    
    background:rgba(255, 204, 255, 0.4);

  }

  form{
    margin-top: 20px;
  }

 input{
    
    background: linear-gradient(90deg, rgba(208, 41.21, 208, 0.2) 0%, white 100%);
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  @media (max-width: 600px) {
    .submission-section button{
      margin: 10px;
      font-size: 12px;
    }
    .guidelines p{
      font-size: 12px;
    }
    .titlee h2{
      font-size: 24px;
    }
  }
  